<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            display: inline-block;
            border: 2px solid black;
            background-color: aqua;
            color: red;
            margin: 50px;
            text-decoration: none;
            width: 200px;
            height: 100px;
        }
    </style>
</head>
<body>
    <h1 align="center"> bhushan jobs</h1>
    <p>latest job in india</p>
    <a href="/hyd">hyd jobs</a>
    <a href="/bng">benglure jobs</a>
    <a href="/chn">chennai jobs</a>

</body>
</html>